<a class="fyr_byra" href="/i-byraladan">
  <span class="fyr_byra__svg-container">
    <img src="/images/byra.svg"/>
    <img src="/images/byra_open.svg"/>
  </span>
  <span class="fyr_byra__text">I byrålådan...</span>
</a>
