.fyr_container {
    @include clearfix;
    width: 100%;

    @include fyr_mq-gte-small {
        display: flex;
    }

    @include fyr_mq-gte-xlarge {
        max-width: 65em;
    }
}

.fyr_container__left {
    @include clearfix;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 4em;
    @include left-column-width;
    background-color: $fyr_color-green-bg;

    @include fyr_mq-gte-small {
        float: left;
        padding-top: 5em;
    }
}

.fyr_container__right {
    @include clearfix;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: $fyr_color-white;

    @include fyr_mq-gte-small {
        margin-top: 0;
        float: left;
        width: calc(100% - #{$fyr_left-column-xsmall});
    }

    @include fyr_mq-gte-medium {
        width: calc(100% - #{$fyr_left-column-small});
    }

    @include fyr_mq-gte-xlarge {
        width: calc(100% - #{$fyr_left-column-medium});
    }

    &.fyr_container__right--padding-top {
        @include fyr_mq-gte-small {
            padding-top: 4em;
        }
    }

    img {
        max-height: 50vh;
    }

    a {
        @include fyr_link;
    }
}