.ban_footer {
    text-align: center;
    padding: 2em 1em 1em;;
    @include font-size(15)
}

.ban_footer__contact {
    color: #ed1c24;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.ban_footer__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: 1em;
}

$_color-footer: rgba(255, 255, 255, 0.5);

.ban_footer__list-item {
    display: inline-block;
    border-left: 1px solid $_color-footer;

    &:first-child {
        border-left: none;
    }
}

.ban_footer__list-item-link {
    color: #bbb; //fallback
    color: $_color-footer;
    text-decoration: none;
    padding: 0 1em;
    display: block;
    @include font-size(14);
    line-height: 0.8;
}