.fyr_header {
    @include clearfix;
    text-align: center;
}

.fyr_header__name {
    @include font-size(24);
    margin-top: 0.3em;
    display: block;
    //font-family Optima
}

.fyr_header__link {
    text-decoration: none;
}

.fyr_header__desc {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0;
}