.fyr_header {
    @include clearfix;
}

.fyr_header__name {
    @include font-size(17);
    //font-family Optima
    float: left;
    width: 54%;

    @include fyr_mq-gte-medium {
        margin-top: 0.3em;
        float: none;
        width: 100%;
    }
}

.fyr_header__desc {
    display: block;
    float: left;
    width: 54%;
    margin-top: 0.5em;
    margin-bottom: 0;

    @include fyr_mq-extra-extra-small {
        clear: both;
        width: 100%;
    }

    @include fyr_mq-gte-small {
        width: 100%;
    }
}