.ban_main {
    font-size: rem(16);
    padding: 2em 0;
    color: #000;
    margin: 0 auto;
    max-width: 800px;

    @include ban_mq-gte-small {
        font-size: rem(18);
    }
}

.ban_main__text-content {
    background: rgba(255,255,255,0.4);
    max-width: 640px;
    margin: 0 auto;
    padding: 0.7em;
    font-size: rem(15);

    a {
        text-decoration: none;
        word-break: break-word;

        &:hover {
            text-decoration: underline;
        }
    }

    h1:first-child {
        @include ban_h1;
        margin-top: 0;
    }

    h2, h3 {
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    h2 {
        @include ban_h2;
    }

    h3 {
        @include ban_h3;
    }
}