.ban_main {
    font-size: rem(16);
    padding: 2em 0;
    color: #fff;
    margin: 0 auto;
    max-width: 800px;

    @include ban_mq-gte-small {
        font-size: rem(18);
    }
}

.ban_main__text-content {
    background: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    padding: 0.7em;
    font-size: rem(16);

    @include ban_mq-gte-small {
        padding: 2em;
        max-width: 680px;
    }

    a {
        color: #ed1c24;
        text-decoration: none;
        word-break: break-word;

        &:hover {
            text-decoration: underline;
        }
    }

    h1:first-child {
        @include ban_h1;
        margin-top: 0;
    }

    h2, h3 {
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    h2 {
        @include ban_h2;
    }

    h3 {
        @include ban_h3;
    }
}