.ban_main {
    @include font-size(16);
    padding: 2em 0;
    color: #fff;
    margin: 0 auto;
    //max-width: 800px;

    @include ban_mq-gte-small {
        @include font-size(18);
    }

    h1:first-child {
        @include ban_h1;
        margin-top: 0;
    }
}

$_background-color: rgba(0, 0, 0, 0.4);

@mixin _padding {
    padding: 0.7em;

    @include ban_mq-gte-small {
        padding: 2em;
    }
}

.ban_main__wide-content {
    background-color: $_background-color;
    @include _padding;
}

.ban_main__text-content {
    @include _padding;
    background-color: $_background-color;
    margin: 0 auto;

    @include ban_mq-gte-small {
        max-width: 680px;
    }

    a {
        color: #ed1c24;
        text-decoration: none;
        word-break: break-word;

        &:hover {
            text-decoration: underline;
        }
    }

    h2, h3 {
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    h2 {
        @include ban_h2;
    }

    h3 {
        @include ban_h3;
    }


    iframe {
        max-width: 100%;
        margin-top: 1em;
    }

    img {
        max-width: 100%;
        max-height: 90vh;
    }
}