.ban_menu {
    text-align: right;
    position: absolute;
    bottom: 0.2em;
    width: 100%;
}

@mixin _list-display {
    display: block;

    @include ban_mq-small {
        display: table;
    }

    @include ban_mq-gte-medium {
        display: block;
    }
}

.ban_menu__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    font-size: 0;
    
    @include ban_mq-xsmall {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    //@include ban_mq-xsmall {
    //    position: absolute;
    //    width: 100%;
    //    transition: transform $ban_mobile-menu-animation-duration;
    //    transform: translateY(-100%);
    //
    //    .ban_is-expanded & {
    //        transform: translateY(0);
    //    }
    //
    //    &.ban_is-hidden {
    //        display: none;
    //    }
    //}

    @include ban_mq-small {
        width: 100%;
    }

    @include _list-display;
}

$_border-color: rgba($ban_color-text, 0.5);

.ban_menu__item {
    display: inline-block;

    @include ban_mq-gte-small {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    @include ban_mq-small {
        display: table-cell;

        &:first-child {
            border-left: none;
        }
    }

    @include ban_mq-gte-medium {
        display: inline-block;
    }
}

.ban_menu__item-link {
    @include font-size(20);
    text-transform: uppercase;
    display: block;
    padding: 0.3em;
    text-decoration: none;
    text-align: center;
    color: #ffffff;

    @include ban_mq-xsmall {
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom: 4px solid rgba(0,0,0,0.6);
        margin-top: 0.2em;
        margin-left: 0.2em;
        padding: 0.1em 0.3em;
    }

    .ban_menu__item:first-child & {
        border-top: 1px solid $_border-color;

        @include ban_mq-gte-small {
            border: none;
        }
    }

    @include ban_mq-gte-small {
        border: none;
        padding: 0 0.3em;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    @include ban_mq-gte-medium {
        @include font-size(26);
    }

    @include ban_mq-gte-large {
        @include font-size(30);
    }

    &.ban_is-active {
        text-shadow: none;
        background-color: $ban_color-link;
    }
}
