.fyr_menu {
    @include fyr_text-body;
    margin-top: 1em;
}

.fyr_menu__list {
	list-style: none;
    padding-left: 0;
    margin-left: -4%;
    margin-top: -0.5em;
}

.fyr_menu__list-item {
	display: inline-block;
    width: 46%;
    text-align: center;
    margin-left: 4%;
    margin-top: 0.7em;
}

.fyr_menu__link {
    display: block;
    padding: 0.2em;
    color: $fyr_color-purple;
    border: 1px solid $fyr_color-purple;
    border-bottom-width: 4px;
    background-color: $fyr_color-white;
    border-radius: 3px;
    text-decoration: none;

    &.fyr_is-active {
        color: $fyr_color-white;
        background-color: $fyr_color-purple;
        border-color: darken($fyr_color-purple, 10%);
    }

    &:hover,
    &:active {
        text-decoration: none;
        background-color: $fyr_color-green-bg;

        &.fyr_is-active {
            background-color: $fyr_color-purple;
        }
    }
}