.ban_menu {
    text-align: right;
    position: relative;
    top: -2em;
}

.ban_menu__icon {
    background-color: transparent;
    border: none;
    width: 34px;
    height: 28px;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 0 2px;

    @include ban_mq-gte-small {
        display: none;
    }
}

//Form the lines
.ban_menu__icon-helper,
.ban_menu__icon-helper:before,
.ban_menu__icon-helper:after {
    content: '';
    border-radius: 2px;
    height: 4px;
    width: 30px;
    background: #fff;
    position: absolute;
    display: block;
}

$_anim-duration: 0.25s;

//Middle line
.ban_menu__icon-helper {
    .ban_is-expanded & {
        animation-name: hamburger-middle-open;
        animation-duration: $_anim-duration;
        animation-fill-mode: forwards;
        //@include animation(hamburger-middle-open $_anim-duration linear 0s 1 normal forwards);
    }

    .ban_is-collapsed & {
        animation-name: hamburger-middle-close;
        animation-duration: $_anim-duration;
        animation-fill-mode: forwards;
        //@include animation(hamburger-middle-close $_anim-duration linear 0s 1 normal forwards);
    }
}

//Upper line
.ban_menu__icon-helper:before {
    top: -8px;

    .ban_is-expanded & {
        animation-name: hamburger-top-open;
        animation-duration: $_anim-duration;
        animation-fill-mode: forwards;
        //@include animation(hamburger-top-open $_anim-duration linear 0s 1 normal forwards);
    }

    .ban_is-collapsed & {
        animation-name: hamburger-top-close;
        animation-duration: $_anim-duration;
        animation-fill-mode: forwards;
        //@include animation(hamburger-top-close $_anim-duration linear 0s 1 normal forwards);
    }
}

//Bottom line
.ban_menu__icon-helper:after  {
  bottom: -8px; 

    .ban_is-expanded & {
        animation-name: hamburger-bottom-open;
        animation-duration: $_anim-duration;
        animation-fill-mode: forwards;
        //@include animation(hamburger-bottom-open $_anim-duration linear 0s 1 normal forwards);
    }

    .ban_is-collapsed & {
        animation-name: hamburger-bottom-close;
        animation-duration: $_anim-duration;
        animation-fill-mode: forwards;
        //@include animation(hamburger-bottom-close $_anim-duration linear 0s 1 normal forwards);
    }
}

$_translateY: 6px;

 @keyframes hamburger-top-open {
  30% {
    transform: translateY($_translateY);
  }
  100% {
    transform: translateY($_translateY) rotate(45deg);
  }
}

@keyframes hamburger-top-close {
    0% {
        transform: translateY($_translateY) rotate(45deg);
    }
    70% {
        transform: translateY($_translateY) rotate(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes hamburger-middle-open {
    0% {
        height: 4px;
    }
    50% {
        height: 0;
    }
    100% {
        height: 0;
    }
}

@keyframes hamburger-middle-close {
    0% {
        height: 0px;
    }
    50% {
        height: 0;
    }
    100% {
        height: 4px;
    }
}

@keyframes hamburger-bottom-open {
    30% {
        transform: translateY(-$_translateY);
    }
    100% {
        transform: translateY(-$_translateY) rotate(-45deg);
    }
}

@keyframes hamburger-bottom-close {
    0% {
        transform: translateY(-$_translateY) rotate(-45deg);
    }
    70% {
        transform: translateY(-$_translateY) rotate(0);
    }
    100% {
        transform: translateY(0);
    }
}

@mixin _list-display {
    @include ban_mq-small {
        display: table;
    }

    @include ban_mq-gte-medium {
        display: block;
    }
}

.ban_menu__list-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: $ban_mobile-menu-height;
}

.ban_menu__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    font-size: 0;
    position: absolute;
    width: 100%;
    transition: transform $ban_mobile-menu-animation-duration;
    transform: translateY(-100%);

    .ban_is-expanded & {
        transform: translateY(0);
    }

    &.ban_is-hidden {
        display: none;
        @include _list-display;
    }

    @include ban_mq-gte-small {
        height: auto;
    }

    @include ban_mq-small {
        width: 100%;
    }

    @include _list-display;
}

$_border-color: rgba(255, 255, 255, 0.5);

.ban_menu__item {
    @include ban_mq-gte-small {
        border-left: 1px solid $_border-color;
    }

    @include ban_mq-small {
        display: table-cell;

        &:first-child {
            border-left: none;
        }
    }

    @include ban_mq-gte-medium {
        display: inline-block;
    }
}

.ban_menu__item-link {
    @include font-size(16);
    text-transform: uppercase;
    display: block;
    padding: 0.3em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid $_border-color;

    .ban_menu__item:first-child & {
        border-top: 1px solid $_border-color;

        @include ban_mq-gte-small {
            border: none;
        }
    }

    @include ban_mq-gte-small {
        border: none;
        padding: 0 0.6em;
        //background-color: transparent;
    }

    &.ban_is-active {
        background-color: $ban_color-link;
    }
}
