.fyr_profile-picture {
    @include clearfix;
    display: inline-block;
    position: relative;
}

$_border-size: 4px;

.fyr_profile-picture__img {
    border: $_border-size solid $fyr_color-purple;
    display: block;
}


.fyr_profile-picture__blur {
    position: absolute;
    top: $_border-size;
    bottom: $_border-size;
    left: $_border-size;
    right: $_border-size;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5));
}