.fyr_startpage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fyr_startpage__text-content {
  flex: 1;
}

.fyr_startpage__image {
  width: 12rem;
  height: auto;
  object-fit: contain;
}
