@font-face {font-family:'Breamcatcher';
    src: url('/fonts/d4ccc48c66b7c07c692ae80633360821.eot'); /* IE9*/
    src: url('/fonts/d4ccc48c66b7c07c692ae80633360821.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/d4ccc48c66b7c07c692ae80633360821.woff') format('woff'), /* chrome、firefox */
    url('/fonts/d4ccc48c66b7c07c692ae80633360821.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/fonts/d4ccc48c66b7c07c692ae80633360821.svg#Breamcatcher') format('svg'); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('/fonts/OpenSans-CondLight-webfont.eot');
    src: url('/fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/OpenSans-CondLight-webfont.woff') format('woff'),
    url('/fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
    url('/fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

