@mixin ban_h1 {
    font-family: $ban_font-heading;
    font-weight: normal;
    text-transform: uppercase;
    @include font-size(28);

    @include ban_mq-gte-small {
        @include font-size(32);
    }

    @include ban_mq-gte-large {
        @include font-size(36);
    }
}

@mixin ban_h2 {
    font-family: $ban_font-heading;
    font-weight: normal;
    text-transform: uppercase;
    @include font-size(24);

    @include ban_mq-gte-small {
        @include font-size(28);
    }

    @include ban_mq-gte-large {
        @include font-size(32);
    }
}

@mixin ban_h3 {
    font-family: $ban_font-heading;
    font-weight: normal;
    text-transform: uppercase;
    @include font-size(20);

    @include ban_mq-gte-small {
        @include font-size(24);
    }

    @include ban_mq-gte-large {
        @include font-size(28);
    }
}