@mixin ban_h1 {
    font-weight: normal;
    text-transform: uppercase;
    @include font-size(24);

    @include ban_mq-gte-small {
        @include font-size(26);
    }
}

@mixin ban_h2 {
    font-weight: normal;
    text-transform: uppercase;
    @include font-size(20);

    @include ban_mq-gte-small {
        @include font-size(22);
    }
}

@mixin ban_h3 {
    font-weight: normal;
    text-transform: uppercase;
    @include font-size(18);

    @include ban_mq-gte-small {
        @include font-size(20);
    }
}