

$fyr_mq-breakpoint-max-XXS: (360 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-min-XS: (361 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-max-XS: (600 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-min-S: (601 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-max-S: (800 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-min-M: (801 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-max-M: (1024 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-min-L: (1025 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-max-L: (1280 / $fyr_font-base-size) + em;
$fyr_mq-breakpoint-min-XL: (1281 / $fyr_font-base-size) + em;