@mixin fyr_text-body {
    //font-family: "Optima", "Calibri","Candara", sans-serif;
	//font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Georgia", serif;
    font-style: italic;
	@include font-size(18);
	line-height: 1.4;
}

@mixin fyr_text-h1 {
    font-family: "Georgia", serif;
    @include font-size(36);
    line-height: 1.2;
    font-style: italic;

    @include fyr_mq-gte-small {
        @include font-size(42);
    }
}

@mixin fyr_text-h2 {
    font-family: "Georgia", serif;
    font-style: italic;
    @include font-size(24);
    line-height: 1.2;

    @include fyr_mq-gte-small {
        @include font-size(28);
    }
}