$fyr_font: "Georgia", serif;

@mixin fyr_text-body {
    //font-family: "Optima", "Calibri","Candara", sans-serif;
	//font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: $fyr_font;
    font-style: italic;
	@include font-size(16);
	line-height: 1.4;

    @include fyr_mq-gte-medium {
        @include font-size(17);
        line-height: 1.5;
    }
}

@mixin fyr_text-h1 {
    font-family: $fyr_font;
    @include font-size(36);
    line-height: 1.2;
    font-style: italic;

    @include fyr_mq-gte-small {
        @include font-size(42);
    }
}

@mixin fyr_text-h2 {
    font-family: $fyr_font;
    font-style: italic;
    @include font-size(24);
    line-height: 1.2;

    @include fyr_mq-gte-small {
        @include font-size(28);
    }
}

@mixin fyr_text-h3 {
    font-family: $fyr_font;
    font-style: italic;
    @include font-size(20);
    line-height: 1.2;

    @include fyr_mq-gte-small {
        @include font-size(22);
    }
}