
//
// VARIABLES
//
$fyr_font-base-size: 16 !default;
$fyr_footer-height: 150px;
$fyr_left-column-xsmall: 16.875rem;
$fyr_left-column-small: 20.625rem;
$fyr_left-column-medium: 23.125rem;

// Colors
$fyr_color-green: #7CB200;
$fyr_color-purple: #765283;
$fyr_color-green-bg: #E2EDC9;
//$fyr_color-green: #C4DB93;
$fyr_color-sheet: #000000;
$fyr_color-sheet-note: #000000;
$fyr_color-text: #222222;
$fyr_color-black: #000000;
$fyr_color-white: #FBFFF2;
$fyr_color-grey: #808080;

