$ban_mobile-menu-height: 23.8em;
$ban_mobile-menu-animation-duration: 0.3s;


$ban_color-link: #ed1c24;
$ban_color-bg: #f6eadb;
$ban_color-text: #222222;

$ban_font-heading: 'Breamcatcher',Tahoma,Verdana,Segoe,sans-serif;
$ban_font-text: 'open_sanscondensed_light',Tahoma,Verdana,Segoe,sans-serif;