---
layout: default
url: /
title: Välkommen
published: true
---


<img src="/images/anna_framsida.jpg" alt="Anna Cederberg-Orreteg portrait"
     class="fyr_startpage__image"/>
<p>Mitt namn är <em>Anna Cederberg-Orreteg</em>, är född och boendes i västra
  <em>Stockholm</em>.</p>

<p>Jag har jobbat som musiklärare under hela min yrkesverksamma tid, både i grundskolan
  och gymnasiet. Under några år lämnade jag skolan då jag bl a arbetade på Sjöviks
  folkhögskola men också som barnkörledare i Svenska kyrkan.</p>
<p>Jag kom så småningom tillbaka till skolan, denna gång i Farsta grundskola Adolf
  Fredriks musikklasser där jag undervisade på mellanstadiet. Nu njuter jag livet
  som pensionär.</p>

<p>Jag frilansar dock fortfarande som tonsättare, arrangör och som gästföreläsare på
  olika lärosäten.</p>

<p><a href="/om-mig">Vill du veta mer...?</a></p>
